$breakpoint-tablet: 768px;

.img-logo {
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	width: 140px;
	height: 160px;
}

@media (min-width: $breakpoint-tablet) {
	.img-logo {
		width: 160px;
		height: 180px;
	}
}