
<section class="vh-100 d-grid text-white">
	<div class="container align-self-end">
		<div class="row">
			<h1 class="fw-bold fs-1">Auth APP</h1>
			<h2 class="fs-2">with Angular and Firebase</h2>
			<div class="col-12">
				<div class="d-flex">
					<div class="card border-0 bg-transparent me-2">
					  <img src="../../../assets/images/angular-icon" class="card-img-top img-logo" alt="Angular Logo">
					</div>

					<div class="card border-0 bg-transparent ms-2">
					  <img src="../../../assets/images/firebase-icon" class="card-img-top img-logo" alt="Firebase Logo">
					</div>
				</div>
			</div>	
		</div>
	</div>

	<div class="sticky-bottom w-100 align-self-end">
		<app-email-subscription></app-email-subscription>
	</div>
</section>