.img-bg {
	position: relative;
}

.img-bg::after {
	content: "";
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	position: absolute;
	background-image: url("../assets/images/b.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: -1;
}