  <mat-toolbar class="position-fixed toolbar bg-transparent d-grid mt-2 d-md-flex mt-md-0">
   <a class="nav-link" [routerLink]="['/home']">
    <span>Auth APP</span>
   </a>
    
    <span class="spacer"></span>

    <button mat-raised-button color="primary" class="mb-2 mb-md-0 me-md-2" aria-label="Example icon-button with heart icon" [routerLink] = "['/auth/register']">
      Registrarse
    </button>
    <button mat-raised-button color="accent" class="ms-md-2" aria-label="Example icon-button with share icon" [routerLink]="['/auth/login']">
      Iniciar Sesión
    </button>
  </mat-toolbar>